body {
  background-color: lightgrey !important;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.category-container {
  max-width: 900px;
  margin-bottom: 20px;
  background-color: #ffffff; /* White background for the containers */
  padding: 20px; /* Add padding to the container */
}

.category-container .category-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.category-item {
    display: flex;
    flex: 0 1 calc(15% - 20px);
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 10px;
    text-align: center;
    min-width: 80px;
    max-width: 30%; /* Example: Use percentage for responsive design */
    white-space: nowrap;
}

.category-icon {
  width: 30px;
  height: 40px;
  margin-bottom: 5px;
}

.category-text {
  font-size: 12px;
}







